body {
    background-color: aqua;

}
.borde{
    border: 1px solid red;
    background-color: burlywood;
}
.img{
    width: 100%;
    margin: auto;
    border: 1px solid red;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: lightsalmon;
}
.main-content{
    padding: 20px;
    background-color: aqua;
    text-align: center;
    border: 1px solid salmon;
}
.productos{
    margin-top: 15px;
    padding: 25px;
    background-color: rgb(206, 191, 60);
}
.producto-item{
    background-color: honeydew;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 230%;
}
.sobre-nosotros{
    margin-top: 15px;
    padding: 15px;
    background-color: lightsteelblue;
}
footer{
    padding: 20px;
    background-color: palevioletred;
    text-align: center;
}
.foter-social{
    margin: 0 10px;
}
.footer-info{
    margin-bottom: 15px;
}

@media screen and (max-width: 300px) {
    body{
        background-color:yellow;
    }

    .logo{
        width: 100%;
        flex-wrap: wrap;
    }

    .nombre{
        width: 100%;
    }

    .menu{
        width: 100%;
    }

    .registro{
        width: 100%;
    }
    .buscar{
        width: 100%;
        display: none;
    }

}
@media screen and (min-width: 301px) and (max-width:600px) {
    body{
        background-color: rgb(8, 0, 253);
    }
    .logo{
        width: 50%;
    }

    .nombre{
        width: 100%;
    }

    .menu{
        width: 100%;
    }

    .registro{
        width: 50%;
    }
    .buscar{
        width: 50%;
        display: none;
    }

}

@media screen and (min-width: 601px) and (max-width:900px) {
    body {
        background-color: rgb(250, 22, 22);
    }
    .logo{
        width: 30%;
    }

    .nombre{
        width: 40%;
    }

    .menu{
        width: 30%;
    }

    .registro{
        width: 50%;
    }
    .buscar{
        width: 50%;
    }

}
@media screen and (min-width: 901px) and (max-width:1200px) {
    body {
        background-color:violet;
    }
    .logo{
        width: 30%;
    }

    .nombre{
        width: 30%;
    }

    .menu{
        width: 30%;
    }

    .registro{
        width: 10%;
    }
    .buscar{
        width: 100%;
    }

}
@media screen and (min-width:1200px) {
    body {
        background-color: green;
    }
    .logo{
        width: 10%;
    }

    .nombre{
        width: 20%;
    }

    .menu{
        width: 40%;
    }

    .registro{
        width: 20%;
    }
    .buscar{
        width: 10%;
    }

}